html {
  box-sizing: border-box;
  margin:0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0px;
}

.clear{
  clear: both;
}

.clear-right{
  clear: right;
}

.clear-left {
  clear: left;
}

.no-margins {
  margin:0px;
}

.small-font {
  font-size:10pt;
}

.left-float {
  float:left;
}

.blue-text {
  color:#2eabd4;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End of Helper CSS */
/*---------------------------------------------------------------------------------------------------------------*/

.center-container__title-main {
  padding:15px 25px;
  border-bottom: 1px solid #d3d3d3;
}

.container{
  width: 1300px;
  margin: 0px;
  background:#d3d3d3;
}

.left-container {
  width:310px;
  float:left;
  padding-left:30px;
  padding-top:25px;
}

.center-container {
  width:705px;
  float:left;
  padding-top:25px;
}

.right-container {
  width:270px;
  float:left;
  padding-right:15px;
  padding-left:34px;
  padding-top:25px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End of containers */
/*---------------------------------------------------------------------------------------------------------------*/

.header__top-bar {
  margin:0px;
  padding-left:30px;
  padding-right:15px;
  border-bottom: 1px solid #d3d3d3;
  background:white;
}

.top-bar-block {
  padding:0px 15px;
  border-right:1px solid #d3d3d3;
  float:left;
}

.top-bar-block__first {
  padding-left:0px;
}

.top-bar-block__last {
  padding-right:0px;
  border-right:0px solid #d3d3d3;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__linkedin {
  width:55px;
  padding-top:28px;
  padding-bottom:23px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__search {
  width:230px;
  padding-top:20px;
  padding-bottom:24px;
}

.header__search-bar {
  color:#d3d3d3;
  border-radius: 25px;
  border: 1px solid gray;
  width: 200px;
  height: 40px;
  margin:0 auto;
  display: block;
}

.header__search-bar h4 {
  margin-top:10px;
  margin-left:14px;
  margin-bottom:2px;
  float:left;
}

#search-icon {
  margin-top:6px;
  margin-right:10px;
  float:right;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__navigation {
  width:700px;
  padding-top:30px;
  padding-bottom:36px;
}

.header__navigation ul{
  width:505px;
  margin:0 auto;
}

.header__navigation ul li {
  float:left;
  list-style-type:none;
  margin-right:28px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__icons {
  width:190px;
  padding-top:28px;
  padding-bottom:28px;
}

.header__icons ul{
  padding-left:2px;
  margin:0 auto;
}

.header__icons ul li{
  display:inline-block;
  float:left;
  list-style-type:none;
  margin:0px 15px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__profile-picture {
  width:80px;
  padding-top:15px;
  padding-bottom:15px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End top bar of header */
/*---------------------------------------------------------------------------------------------------------------*/

.header__bottom-bar {
  padding:0px 30px;
  border-bottom: 1px solid #d3d3d3;
  background:white;
}

.header__bottom-bar__nav {
  float:left;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.header__bottom-bar__nav__block {
  padding-left:25px;
  padding-right:30px;
  padding-bottom:10px;
}

.header__bottom-bar__nav__block:hover {
  border-bottom: 1px solid #2eabd4;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End bottom bar of header */
/*---------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* End Header */
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.profile{
  width:260px;
  background:white;
}

.profile__profile {
  text-align:center;
  padding-top:25px;
  padding-left:27px;
  padding-right:37px;
  padding-bottom:25px;
  border-bottom: 1px solid #d3d3d3;
}

#first-in-doge__container {
  width:40px;
  margin: 0 auto;
}

#first-in-doge {
  width:24px;
}

#first-in__container {
  float:right;
  padding-right:33px;
}

.profile__buttons {
  padding-top:20px;
  padding-bottom:20px;
}

.profile__follow {
  color:white;
  background:#2eabd4;
  text-align:center;
  color:#d3d3d3;
  border-radius: 25px;
  border: 1px solid #2eabd4;
  width: 140px;
  height: 40px;
  margin:0 auto;
  margin-bottom:10px;
  padding-top:10px;
  display: block;
}

.profile__follow p{
  color:white;
}

.profile__connect {
  color:#2eabd4;
  background:white;
  text-align:center;
  color:#d3d3d3;
  border-radius: 25px;
  border: 1px solid #2eabd4;
  width: 140px;
  height: 40px;
  margin:0 auto;
  padding-top:10px;
  display: block;
}

.profile__connect p{
  color:#2eabd4;
}

/*---------------------------------------------------------------------------------------------------------------*/

.profile__stats {
  text-align:center;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.stats__connections {
  border-right: 1px solid #d3d3d3;
  float:left;
  padding:20px 23px;
}

.stats__followers {
  float:left;
  padding:20px 34px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.profile__websites {
  padding-left:23px;
  padding-top:20px;
  padding-bottom:20px;
  border-bottom: 1px solid #d3d3d3;
}

/*---------------------------------------------------------------------------------------------------------------*/

.profile__text-padding {
  padding-top:2px;
  padding-left:10px;
}

.profile__export {
  padding-left:23px;
  padding-top:20px;
  padding-bottom:20px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End Profile Box */
/*---------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* End Left Container */
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.posts {
  background:white;
  margin-bottom:20px;
}

.posts__content {
  padding-top:25px;
  padding-left:30px;
}

.posts__one-third {
  float:left;
  padding-right:25px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End Posts Box */
/*---------------------------------------------------------------------------------------------------------------*/

.background {
  background:white;
  margin-bottom:20px;
}

.background__category{
  padding:30px;
  padding-bottom:15px;
}

#clipboard {
  margin-right:7px;
}

#lightbulb {
  margin-right:10px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.background__title-fix {
  margin-left:15px;
  margin-top:5px;
}

.summary__content {
  padding-left:42px;
  padding-right:40px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.experience__content__container {
  padding-left:40px;
  padding-right:40px;
}

.experience__content__text {
  float:left;
}

.experience__content__image {
  float:right;
  padding-top: 15px;
}

.timeline-start {
  padding-top:20px;
  padding-bottom:30px;
  background: white url('assets/timeline-start.png');
  background-position: 27px 22px;
  background-repeat:no-repeat;
}

.timeline-end {
  background: white url('assets/timeline-end.png');
  background-position: 26px -6px;
  background-repeat:no-repeat;
}
/*---------------------------------------------------------------------------------------------------------------*/

.education__content__container {
  padding-left:40px;
  padding-right:40px;
}

.education__content__text {
  float:left;
}

.education__content__image {
  float:right;
  padding-top: 15px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.skills__content {
  padding-top:20px;
}

.skills__number-circle {
  color:#A8A6A6;
  border-radius: 25px;
  border: 1px solid gray;
  width: 40px;
  height: 40px;
  margin-left: 40px;
  display: block;
  float:left;
}

.number-circle__text {
  text-align:center;
  line-height: 7px;
}

.skills__text {
  float:left;
  padding-left: 25px;
}

.skills__images {
  float:right;
}

.skills__images__last {
  color: black;
  background-color: #d3d3d3;
  border-radius: 25px;
  border: 1px solid gray;
  width: 48px;
  height: 48px;
  display: block;
  float: right;
  margin-left: 5px;
}

.skills__images__number-circle {
  text-align:center;
  line-height: 15px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.more-interest__container{
  margin-left: 38px;
  margin-top: 15px;
}

.more-interest__gray-box {
  float:left;
  background-color: #d3d3d3;
  margin-right: 10px;
  padding:5px 10px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End Background Box */
/*---------------------------------------------------------------------------------------------------------------*/

.recommendations {
  background:white;
  margin-bottom:20px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End Recommendations Box */
/*---------------------------------------------------------------------------------------------------------------*/

.following {
  background:white;
  margin-bottom:45px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End Following Box */
/*---------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* End Center Container */
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.also-viewed {

}

/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* End Right Container */
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.footer__div {
  text-align:center;
  padding-top:20px;
  padding-bottom:15px;
  border-top: 1px solid #A8A6A6;
}

/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* End Footer */
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/