html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clear{
  clear: both;
}

.centered-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*NOTE: Only works with images -- to center divs, use margin: 0 auto*/
.centered-horizontal {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* Helper CSS */
/*---------------------------------------------------------------------------------------------------------------*/

.container{
  width: 1280px;
  margin: 0 auto;
}

.left-container {
  width:310px;
  float:left;
}

.center-container {
  width:700px;
  height:75px;
  float:left;
}

.right-container {
  width:270px;
  height:75px;
  float:left;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End of containers */
/*---------------------------------------------------------------------------------------------------------------*/
.header__top-bar {
  height: 75px;
  float:left;
  border-bottom: 1px solid #d3d3d3;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__linkedin {
  float:left;
  width:80px;
  margin: 0 auto;
  height:75px;
  border-right: 1px solid #d3d3d3;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__search {
  float:left;
  height:75px;
  width:230px;
  margin:0px;
  padding:0px;
  border-right: 1px solid #d3d3d3;
}

.header__search-bar {
  color:#d3d3d3;
  border-radius: 25px;
  border: 2px solid gray;
  padding: 0px; 
  width: 200px;
  height: 40px;
  margin:0 auto;
  display: block;
}

.header__search-bar h4 {
  margin-top:10px;
  margin-left:14px;
  margin-bottom:2px;
  float:left;
}

#search-icon {
  margin-top:6px;
  margin-right:10px;
  float:right;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__navigation {
  width:700px;
  height: 75px;
  margin: 0 auto;
  float:left;
}

.header__navigation ul {
  width:555px;
  margin:0 auto;
  overflow:auto;
  padding:0px;
}

.header__navigation ul li {
  float:left;
  list-style-type:none;
  margin:0px 25px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__icons {
  float:left;
  height:75px;
  width:190px;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.header__icons ul {
  height:25px;
  width:155px;
  margin:0 auto;
  overflow:auto;
  padding:0px;
}

.header__icons ul li{
  float:left;
  list-style-type:none;
  margin:0px 15px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__profile-picture {
  float:left;
  width:80px;
  margin: 0 auto;
  height:75px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End top bar of header */
/*---------------------------------------------------------------------------------------------------------------*/

.header__bottom-bar {
  border-bottom:1px solid #d3d3d3;
  height:40px;
}

.header__bottom-bar__nav {
  width:700px;
  height:40px;
  margin-left:30px;
}

.header__bottom-bar__box{
  float:left;
  height:40px;
  margin:0px 43px;
}

.header__bottom-bar__box p {
  text-align:center;
  color:#d3d3d3;
  font-family:Arial, sans-serif;
}

.header__bottom-bar__box:hover {
  border-bottom: 1px solid #2eabd4;
}

/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* End Header */
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/