html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clear{
  clear: both;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* Helper CSS */
/*---------------------------------------------------------------------------------------------------------------*/

.container{
  width: 1280px;
  margin: 0px;
}

.left-container {
  width:310px;
  float:left;
}

.center-container {
  width:700px;
  float:left;
}

.right-container {
  width:270px;
  float:left;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End of containers */
/*---------------------------------------------------------------------------------------------------------------*/

.header__top-bar {
  margin:0px;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:30px;
  padding-right:15px;
  border-bottom: 1px solid #d3d3d3;
}

.top-bar-block {
  padding:0px 15px;
  border-right:1px solid #d3d3d3;
  float:left;
}

.top-bar-block__first {
  padding-left:0px;
}

.top-bar-block__last {
  padding-right:0px;
  border-right:0px solid #d3d3d3;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__linkedin {
  width:80px;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__search {
  width:230px;
}

.header__search-bar {
  color:#d3d3d3;
  border-radius: 25px;
  border: 2px solid gray;
  width: 200px;
  height: 40px;
  margin:0 auto;
  display: block;
}

.header__search-bar h4 {
  margin-top:10px;
  margin-left:14px;
  margin-bottom:2px;
  float:left;
}

#search-icon {
  margin-top:6px;
  margin-right:10px;
  float:right;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__navigation {
  width:700px;
}

.header__navigation ul li {
  float:left;
  list-style-type:none;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__icons {
  width:190px;
}

.header__icons ul li{
  float:left;
  list-style-type:none;
}

/*---------------------------------------------------------------------------------------------------------------*/

.header__profile-picture {
  width:80px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* End top bar of header */
/*---------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------------------*/
/* End bottom bar of header */
/*---------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* End Header */
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/